<section>
    <h2>
    <span class="breadcrumbs-current">Order</span>
    <span class="breadcrumbs-separator"> &rsaquo; </span>
    <span class="breadcrumbs-after">Pay</span>
    <span class="breadcrumbs-separator"> &rsaquo; </span>
    <span class="breadcrumbs-after">Invoice</span>
  </h2>
  <form action="/order" method="POST">
    <h3>Style</h3>
    <fieldset id="style">
      <% Order::STYLES.each do |item| %>
        <input type="radio" name="style" id=<%= "style-" + item %> value=<%= item %> />
        <label for=<%= "style-" + item %>><%= item.titleize %></label>
        <br />
      <% end %>
    </fieldset>
    <h3>Strength</h3>
    <fieldset id="strength">
      <% Order::STRENGTHS.each do |item| %>
        <input type="radio" name="strength" id=<%= "strength-" + item %> value=<%= item %> />
        <label for=<%= "strength-" + item %>><%= item.titleize %></label>
        <br />
      <% end %>
    </fieldset>
    <h3>Quantity</h3>
    <input type="text" name="quantity" />
    <br />
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
</section>
